.form-control {
    margin: 0.5rem 0;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
  .form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }
  
  .form-control button {
    background-color: purple;
    color: wheat;
    margin-top: 3vh;
    padding: 0.5vw;
    border-radius: 4px;
  }

  .form-control button:hover {
    cursor: pointer;
  }
  /* .formcontrol.invalid input {
    border-color: red;
    background: #ffd7d7;
  }
  
  .form-control.invalid label {
    color: red;
  } */